<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dob</key>
	<string>October 22 2021</string>
	<key>height</key>
	<string>6</string>
	<key>phone_number</key>
	<string>7325455600</string>
	<key>email</key>
	<string>lake_rutgersprep_org</string>
</dict>
</plist>
